<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>        Simple Login Form     </h1>

    <form action="/" method="POST">

    <input type = "text" name = "StudentID" placeholder = "StudentID" required = required>
    <input type = "text" name = "StudentName" placeholder = "StudentName" required = required>
    <input type = "text" name = "StudentAddress" placeholder = "StudentAddress" required = required>
    <input type = "text" name = "Grade" placeholder = "Grade" required = required>
    <input type="submit">
    
</form>

</body>
</html>